.NavButton1 {
  border-radius: 28px;
  background: linear-gradient(to right,#02375B ,#0163B8); 
  border: none;
  color: white;
  padding: 12px 26px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  cursor: pointer;
  margin-left: 15px;
  margin-right: 15px;
}
.navbar {
  background: fixed;
  background-color: rgb(rgb(255, 255, 255), rgb(255, 255, 255), rgb(255, 255, 255));
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}