 .bodyAll{ 
   max-width: 100%;
   background-color: #001323;
padding: 40px;
 } 
 .container {
  border-top: 2px solid white;
      max-width: 100%;
      max-width: 1300px;
      margin: 0 auto;
      padding: 100px 0px 24px 0px;
      background-color: #001323;

    }
    
    
    .heading {
      color: #3f74ad;
      font-size: 60px;
      margin-top: 0;
      font-weight: 400;
      text-align: center;
      line-height: 55px;
    }
    .subtitle {
      color: #b0c4d5;
      font-size: 1.1em;
      max-width: 80%;
      margin: 20px auto 38px auto;
      text-align: center;
    }
    .flexRow {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 20px;
    }
    .appMockup {
      background: linear-gradient(135deg, #203356 78%, #182236 100%);
      border-radius: 25px;
      padding: 36px 28px 20px 28px;
      box-shadow: 0 4px 24px 0 rgba(25,50,90,.32);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      object-fit: contain;
      margin-bottom: 0;
      margin-top: 8px;
    }
    .appMockup img {
      width: 156px;
      border-radius: 27px;
      box-shadow: 0 6px 26px 0 rgba(10,18,32,0.5);
      margin-bottom: 18px;
    }
   
    .projectTask {
      flex: 1;
      margin-left: 30px;
    }
    .projectTaskTitle {
      color: #8bb8fe;
      font-size: 1.12em;
      margin-bottom: 8px;
      font-weight: 700;
      letter-spacing: 0.03em;
    }
    .projectTaskText {
      color: #d7e9ff;
      font-size: 1.12em;
      line-height: 1.6em;
      font-weight: 400;
      text-align: justify;
      margin-top: 0;
    }
    @media (max-width: 700px) {
      .heading {
      color: #3f74ad;
      font-size: 30px;
      margin-top: 0;
      font-weight: 400;
      text-align: center;
      line-height: 25px;
    }
    .subtitle {
      color: #b0c4d5;
      font-size: 0.65em;
      max-width: 50%;
      margin: 20px auto 38px auto;
      text-align: center;
    }
      .flexRow {
      display: table-row;
       grid-template-rows: 1fr 1fr; 
      grid-gap: 20px;
      }
      .appMockup {
        width: 100%;
        margin-right: 0;
        margin-bottom: 22px;
        padding: 20px 10px;
      }
      .projectTask {
        margin-left: 0;
      }
    }